
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutEmployer.cshtml";
}
<div class="sidebar">
    <img src="https://www.shutterstock.com/image-vector/chibi-cute-vector-male-doctor-600nw-2401192065.jpg" alt="Doctor's profile picture">
    <h2>{{NameDoctor}}</h2>
    <div class="menu-item">Quản lý phiếu khám</div>
    <div class="menu-item">Quản lý lịch sử khám</div>
</div>

<div class="main-content">
    <div class="welcome-banner">
        <h1>Xin chào {{ChucVu}}{{Name}}, Đây là trang "QUẢN LÝ PHIẾU KHÁM BỆNH"</h1>
    </div>

    <div class="search-section">
        <input type="text" placeholder="Nhập từ khóa cần tìm">
        <button>Tìm kiếm</button>
    </div>


    <table>
        <thead>
            <tr>
                <th>STT</th>
                <th>Tên bệnh nhân</th>
                <th>Ngày sinh</th>
                <th>Thao tác</th>
            </tr>
        </thead>
        <tbody>
        <tbody>
            <tr>
                <td>{{ID}}</td>
                <td>{{NAMEPATIENT}}</td>
                <td>{{dd/mm/yyy}}</td>
                <td>
                    <button class="info-btn btn btn-primary" data-toggle="modal" data-target="#infoModal">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                            <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0" />
                        </svg>
                    </button>
                </td>

            </tr>
        </tbody>
        </tbody>
    </table>

    <div class="pagination">
        <button>&lt;</button>
        <button>&gt;</button>
    </div>
</div>